<div class="omnistore">
    <div class="omnistore-text">
        <h2>OmniStore</h2>
    </div>


    <div id="nav">

        <a routerLink="home">Home</a>&nbsp;
        <a routerLink="login">Login</a>&nbsp;
        <a routerLink="register">Register</a>&nbsp;
        <a routerLink="category">Show Category</a>&nbsp;

        <div class="righty">
            <a routerLink="profile">Profile</a>&nbsp;
            <a routerLink="sell">Sell</a> &nbsp;
            <a routerLink="cart">cart</a>&nbsp;
        </div>


    </div>
</div>
