<!--header-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--header-->

    <div class="header">
      <div class="container">
          <div class="logo" >
              <a href="index.html"><span>Omni</span>Store</a>
          </div>
          <div class="header-right">
              <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>

      </div>
  </div>


