<!--main content-->

<!--Categories-->
<div class="content">
  <div class="categories">
    <h2>Categories</h2>

    <div class="container">

      <ul id="flexiselDemo3">
        <li class="mySlides">
          <div class="col-md-2 focus-grid">
            <a href="categories.html">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-mobile"></i></div>
                  <h4 class="clrchg">Mobiles</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab2">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-laptop"></i></div>
                  <h4 class="clrchg"> Electronics & Appliances</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab3">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-car"></i></div>
                  <h4 class="clrchg">Cars</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab4">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                  <h4 class="clrchg">Bikes</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab5">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                  <h4 class="clrchg">Furnitures</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab6">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-paw"></i></div>
                  <h4 class="clrchg">Pets</h4>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li class="mySlides">
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab7">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-book"></i></div>
                  <h4 class="clrchg">Books, Sports & Hobbies</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab8">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                  <h4 class="clrchg">Fashion</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab9">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                  <h4 class="clrchg">Kids</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab10">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-shield"></i></div>
                  <h4 class="clrchg">Services</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab11">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-at"></i></div>
                  <h4 class="clrchg">Jobs</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab12">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="fa fa-home"></i></div>
                  <h4 class="clrchg">Real Estate</h4>
                </div>
              </div>
            </a>
          </div>
        </li>
      </ul>
      <div style="text-align: center;">
        <button class="slider-button" onclick="plusDivs(-1)">&#10094;</button>
        <button class="slider-button" onclick="plusDivs(1)">&#10095;</button>
      </div>

      <div class="clearfix"></div>


    </div>
  </div>
  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }
  </script>


  <div class="trending-ads">
    <div class="container">

      <div class="trend-ads">
        <h2>Trending Ads</h2>
        <ul>
          <li>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p1.jpg" />
                <span class="price">&#36; 450</span>
              </a>
              <div class="ad-info">
                <span>1 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p2.jpg" />
                <span class="price">&#36; 399</span>
              </a>
              <div class="ad-info">
                <span>3 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p3.jpg" />
                <span class="price">&#36; 199</span>
              </a>
              <div class="ad-info">
                <span>8 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p4.jpg" />
                <span class="price">&#36; 159</span>
              </a>
              <div class="ad-info">
                <span>19 hour ago</span>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p5.jpg" />
                <span class="price">&#36; 1599</span>
              </a>
              <div class="ad-info">
                <span>1 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p6.jpg" />
                <span class="price">&#36; 1099</span>
              </a>
              <div class="ad-info">
                <span>1 day ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p7.jpg" />
                <span class="price">&#36; 109</span>
              </a>
              <div class="ad-info">
                <span>9 hour ago</span>
              </div>
            </div>
            <div class="col-md-3 biseller-column">
              <a href="single.html">
                <img src="../../assets/images/p8.jpg" />
                <span class="price">&#36; 189</span>
              </a>
            </div>
          </li>

        </ul>



      </div>
    </div>

  </div>
</div>
