<!--navbar-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!--nav bar-->


    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
          <li><a class="account" href="#"><span class="glyphicon glyphicon-home"></span> <span class="kuch">home</span></a></li>
          <li><a class="account" href="#"><span class="glyphicon glyphicon-briefcase"></span> <span class="kuch">about</span></a></li>
          <li><a class="account" href="#"><span class="glyphicon glyphicon-time"></span> <span class="kuch">trackOrder</span></a></li>
          <li><a class="account" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="kuch">cart</span></a></li>
          <li><a class="account" href="#"><span class="glyphicon glyphicon-user"></span><span class="kuch">Sign Up</span> </a></li>
          <li><a class="account" href="#"><span class="glyphicon glyphicon-log-in"></span><span class="kuch"> Login</span> </a></li>

      </ul>
  </nav>



