<div id="menu-wrapper">
    <ul id="mymenu">
      <li class="current_page_item">
        <a routerLink="../user-login">
          <span>Homepage</span>
        </a>
      </li>
      <li class="current_page_item">
        <a routerLink="../showCategory">
          <span>Show Category</span>
        </a>
      </li>
      <li class="current_page_item">
        <a routerLink="../sell">
          <span>Sell</span>
        </a>
      </li>
      <li class="current_page_item">
        <a routerLink="../cart">
          <span>Cart</span>
        </a>
      </li>
      <li class="current_page_item">
        <a routerLink="#">
          <span>Order History</span>
        </a>
      </li>
      <li class="current_page_item">
        <a routerLink="../profile">
          <span>Profile</span>
        </a>
      </li>
    </ul>
    <script type="text/javascript">
      $('#mymenu').dropotron();
    </script>
  </div>
  <!-- end #menu -->
