<div id="content">
    <div class="contentbg">
      <div class="post">
        <h3>{{d.r}}</h3>
        <h2 class="title">
          Register Here
        </h2>
        <form #userregistration ="ngForm" (ngSubmit) = "onClickSubmit(userregistration.value)">
          Username<input type="text" name="unm" ngModel><br><br>
          Password<input type="password" name="pass" ngModel><br><br>
          Address<br><textarea name="address" ngModel></textarea><br><br>
          City<select name="city" ngModel>
            <option>Select city</option>
            <option>Indore</option>
            <option>Ujjain</option>
            <option>Bhopal</option>
          </select><br><br>
          Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="male" ngModel>
          Male &nbsp;&nbsp;&nbsp;
          <input type="radio" name="gender" value="female" ngModel>
          Female &nbsp;&nbsp;&nbsp;<br><br>
          <input type="submit" value="submit" ngModel>
        </form>
        <div class="entry">
        </div>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>
  </div>
  <!-- end #content -->