<html>
	<head>
		<title>Form Tag</title>
	</head>
	<body>

	<form method='' action=''>
	<table cellspacing='5' cellpadding='10' border='2'>
	<tr>
	<td colspan='2'>

	<h2>Register here!!!</h2>

	</td>
	</tr>

	<!-- text field -->
	<tr>
	<td><label>Username</label></td>
	<td><input type='text' required name='' id='' placeholder='Enter username'/></td>
	</tr>

	<!-- password field -->
	<tr>
	<td><label>Password</label></td>
	<td><input type='password' placeholder='Enter password'/></td>
	</tr>

	<!-- email field -->
	<tr>
	<td><label>Email</label></td>
	<td><input type='email' placeholder='Enter email'/></td>
	</tr>

	<!-- textarea field -->
	<tr>
	<td><label>Address</label></td>
	<td>
	<textarea rows='5' cols='33' placeholder='Enter address'></textarea>
	</td>
	</tr>

	<!-- dropdown field -->
	<tr>
	<td><label>City</label></td>
	<td>
	<select>
		<option value='0'>Select city</option>
		<option>Indore</option>
		<option>Bhopal</option>
		<option>Ujjain</option>
	</select>
	</td>
	</tr>

	<!-- radio button -->
	<tr>
	<td><label>Gender</label></td>
	<td>
	<input type='radio' name='gender' value='male' />
	Male
	&nbsp;&nbsp;&nbsp;
	<input type='radio' name='gender' value='female' />
	Female
	</td>
	</tr>

	<!-- checkbox button -->
	<tr>
	<td><label>Hobbies</label></td>
	<td>
	<input type='checkbox'  value='football' />
	Football
	&nbsp;&nbsp;&nbsp;
	<input type='checkbox'  value='basketball' />
	Basketball
	&nbsp;&nbsp;&nbsp;
	<input type='checkbox'  value='volleyball' />
	Volleyball
	</td>
	</tr>

	<tr>
	<td colspan='2'>

	<input type='submit' value='Register' />

	</td>
	</tr>




	</table>
	</form>
	</body>
</html>











